html, body {
  height: 100%;
}
.efe-container {
  height: 100%;
  .efe-header {
    background-color: #409EFF
  }
  .efe-main {
    padding: 0;
  }
  .efe-padding {
    padding: 15px;
    &--vertical {
      padding: 15px 0;
    }
    &--horizontal {
      padding: 0 15px;
    }
  }
  .efe-border {
    border: 1px solid #dcdfe6
  }
}

